@use "sass:math";
@import "config";

@mixin bars($width, $height) {
  background-color: var(--fourth-color);
  border-radius: $height;
  height: $height;
  transition: all .3s ease-in-out;
  width: $width;
}

.fbalves-header-container {
  width: 100%;

  .fbalves-logo-container {
    background-color: var(--third-color);
    height: 3rem;
    padding: .4rem 0;
    position: relative;

    .custom-logo-link {
      left: 50%;
      top: 50%;
      position: absolute;
      transform: translate(-50%, -50%);

      .custom-logo {
        display: block;
        width: 2.4rem;
        height: 2.4rem;
      }
    }

    .fbalves-btn-menu {
      align-content: center;
      color: var(--fourth-color);
      display: flex;
      flex-wrap: wrap;
      height: 2rem;
      right: 2%;
      position: absolute;
      width: 2rem;
      top: 50%;
      transform: translateY(-50%);

      .fbalves-btn-menu__bars {
        @include bars(1.6rem, .2rem);

        &::before, &::after {
          content: "";
          position: absolute;
        }

        &::before {
          @include bars(2rem, .2rem);
          transform: translateY(-.8rem);
        }

        &::after {
          @include bars(1.3rem, .2rem);
          transform: translateY(.8rem);
        }
      }
    }

    .fbalves-btn-open {
      .fbalves-btn-menu__bars {
        background: transparent;
        transform: translateX(-1.6rem);

        &::before, &::after {
          width: 1.6rem;
        }

        &::before {
          transform: rotate(45deg) translate(math.cos(45deg) * 1.6rem, -(math.sin(45deg) * 1.6rem));
        }

        &::after {
          transform: rotate(-45deg) translate(math.cos(45deg) * 1.6rem, math.sin(45deg) * 1.6rem);
        }
      }
    }
  }

  .menu-menu-principal-container {
    background-color: var(--third-color);
    height: 0;
    overflow-y: hidden;
    transition: all .5s ease-in-out;

    .menu {
      height: auto;
      opacity: 0;
      transition: all .5s ease-in-out;

      li {
        display: block;

        a {
          display: block;
          color: var(--fourth-color);
          font-size: 1.3rem;
          padding: 10px 0;
          text-align: center;
          text-decoration: none;
          width: 100%;
        }
      }
    }
  }

  .fbalves-show-menu {
    height: calc(100vh - 3.8rem);

    .menu {
      opacity: 100%;
    }
  }
}
